@import "tailwindcss";

/* admin-ui.css */
.label {
  @apply text-xs font-bold uppercase text-slate-400 mb-2 block tracking-widest;
}

.input {
  @apply w-full bg-slate-100 border-none rounded-2xl px-5 py-4 outline-none focus:ring-2 focus:ring-indigo-500;
}
